*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}
.box{
    position: relative;
    height: 350px;
    border-bottom: 1px solid rgb(180, 243, 249);
}
.cloud{
    position: relative;
    top: 50px;
    width: 320px;
    height: 100px;
    background: rgb(180, 243, 249);
    border-radius: 100px;
}
.cloud::before{
    content: "";
    position: absolute;
    top: -50px;
    left: 40px;
    width: 100px;
    height: 110px;
    background: rgb(180, 243, 249);
    border-radius: 50%;
    box-shadow: 90px 0 0 30px rgb(180, 243, 249);

}
.rain{
    position: relative;
    display: flex;
    z-index: 1;
    padding: 0 20px;
}
.rain span{
    position: relative;
    bottom: 10px;
    width: 10px;
    height: 10px;
    background: rgb(180, 243, 249);
    margin: 0 2px;
    border-radius: 50px;
    animation: animate 5s linear infinite;
    animation-duration: calc(15s / var(--i));
    transform: bottom;
}
@keyframes animate{
    0%{
        transform: translateY(0) scale(1);
    }
    70%{
        transform: translateY(300px) scale(1);
    }
    100%{
        transform: translateY(300px) scale(0);
    }
}
