*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 'Poppins','sans-serif';
}
.cont{
    width: 100%;
     height: 100vh;
    background: #2b323c;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center; 
}


.cont h1{
    font-size: 40px;
    font-weight: 600;

}
span{
    color:rgb(0, 255, 42);
}